<footer id="footer" class="bg-gray-100 dark:bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl py-20">
    <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4 justify-items-center">
      <div>
        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Our Office</h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-4">
            <a href="#footer" class=" hover:underline">Vijayawada, A.P</a>
          </li>
          <li class="mb-4">
            <a href="#footer" class="hover:underline">+012-345-6789</a>
          </li>
          <li class="mb-4">
            <a href="#footer" class="hover:underline">abcde@gmail.com</a>
          </li>
          <!-- <li class="mb-4">
                            <a href="#footer" class="hover:underline">Blog</a>
                        </li> -->
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Quick Links</h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-4">
            <a href="/index" class="hover:underline">Home</a>
          </li>
          <li class="mb-4">
            <a href="/departments" class="hover:underline">Departments</a>
          </li>
          <li class="mb-4">
            <a href="/index" class="hover:underline">FAQ's</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Services</h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-4">
            <a href="#" class="hover:underline">24/7 Available</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Adorable Dashboard</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Dedicated Team</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">*****</a>
          </li>
        </ul>
      </div>
      <div>
        <div class="max-w-xl lg:max-w-lg">
          <h2 class="text-lg font-bold tracking-tight text-gray-600 sm:text-xl">Get Daily Duty Details
          </h2>
          <p class="sm:text-base mt-5">Get in Touch</p>
          <div class="mt-6 flex-col gap-x-4">
            <label for="email-address" class="sr-only">Email address</label>
            <input id="email-address" name="email" type="email" autocomplete="email" required class="mb-4 min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="Enter your email">
            <button type="submit" class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
    <div class="px-4 py-6 bg-gray-100 dark:bg-gray-700 text-center">
      <span class="text-lg text-gray-500 dark:text-gray-300 font-semibold">© 2023 <a href="https://flowbite.com/">Flowbite™</a>. All Rights Reserved.
      </span>
    </div>
  </div>
</footer>

<script>
  // Function to close the alert box
  function closeAlertBox() {
    const alertBox = document.getElementById('alertbox');
    if (alertBox) {
      alertBox.style.display = 'none';
    }
  }

  // Attach click event to the close button
  const closeAlertButton = document.querySelector('.closealertbutton');
  if (closeAlertButton) {
    closeAlertButton.addEventListener('click', closeAlertBox);
  }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!-- Include jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/forSignup.js"></script>
</body>

</html>