<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar</title>
    <!-- Tailwind CSS CDN -->
    <link rel="stylesheet" href="output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="h-full bg-gray-50">

    <nav class="border-gray-200 dark:bg-gray-900 bg-gradient-to-tr from-[#9b71e9] opacity-60 to-[#9b68fa]">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="/addDuty" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="/images/logo.png" class="h-12 hidden md:block" alt="Flowbite Logo" />
                <span class="block sm:hidden self-center text-2xl font-semibold text-white">APSRTC</span>
                <span class="hidden sm:block self-center text-2xl font-semibold text-white">Andhra Pradesh State Road
                    Transport Corporation</span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
            <div class="hidden w-full lg:block md:w-auto mx-auto md:mx-10 my-5" id="navbar-default">
                <ul
                    class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0">
                    <li>
                        <a href="/" class="block py-2 text-xl rounded md:p-0 text-white">Sign
                            In</a>
                    </li>
                    <li>
                        <a href="/signup" class="block py-2 text-xl text-white rounded md:p-0"
                            aria-current="page">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="relative px-6 lg:px-5">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl" aria-hidden="true">
            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff54e5] opacity-50 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
            </div>
        </div>

        <main class="container mx-auto">
            <div class="flex h-full flex-col justify-center p-5 lg:px-8">
                <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                    <img class="mx-auto h-20 w-auto md:hidden block rounded-full object-cover" src="/images/logo.png"
                        alt="Your Company">
                </div>

                <div class="bg-white shadow-lg p-6 my-14 sm:mx-auto sm:w-full sm:max-w-sm rounded-lg">
                    <!-- <div class="bg-white w-full max-w-md p-8 rounded-md shadow-md"> -->
                    <h2 class="text-2xl font-semibold text-gray-800 mb-6">Forgot Password</h2>

                    <form action="/forgot-password" method="POST">
                        <div>
                            <label for="email" class="block mb-4 text-sm font-medium text-gray-900 dark:text-white">Your
                                email</label>
                            <input type="email" name="email" id="email"
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="name@company.com" required>
                        </div>

                        <div class="text-center">
                            <button type="submit"
                                class="mt-5 w-auto bg-primary-500 text-white bg-blue-500 py-2 px-4 rounded-md hover:bg-primary-600 focus:outline-none focus:ring focus:border-primary-500 transition duration-150 ease-in-out">
                                Reset Password
                            </button>
                        </div>
                    </form>

                    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl"
                            aria-hidden="true">
                            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff54e5] opacity-50 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                                style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                            </div>
                        </div>
                    <p class="mt-5 text-center text-sm text-gray-500">
                        Not a member?
                        <a href="/signup" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Register
                            Here</a>
                    </p>
                </div>
            </div>
    </div>
    </main>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggleButton = document.querySelector('[data-collapse-toggle="navbar-default"]');
            const mobileMenu = document.getElementById('navbar-default');

            toggleButton.addEventListener('click', () => {
                mobileMenu.classList.toggle('hidden');
            });
        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Include jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/forSignup.js"></script>

</body>

</html>