<%- include('partials/header'); -%>

    <div class="relative px-6 lg:px-5">
        <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
            aria-hidden="true">
            <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
            </div>
        </div>
        <main class="md:mx-5 bg-white mx-auto">
            <div class="overflow-hidden py-10 my-16">
                <div class="px-6 lg:px-8">
                    <div
                        class="grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none md:grid-cols-2">
                        <div class="lg:pr-8 lg:pt-4">
                            <div class="lg:max-w-md">
                                <h2 class="md:text-3xl text-2xl font-semibold leading-7 text-indigo-600 ">Join Your
                                    hands with Us
                                </h2>
                                <p class="mt-2 md:text-2xl font-semibold tracking-tight text-gray-900 sm:text-xl">A
                                    better
                                    workflow</p>
                                <p class="mt-4 text-base leading-7 text-gray-600">
                                    APSRTC is committed to provide consistently high quality of services and to
                                    continuously improve the
                                    services
                                    through a process of teamwork for the utmost satisfaction of the passengers and to
                                    attain a position of
                                    pre-eminence in the Bus Transport sector.
                                </p>
                                <dl class="mt-5 max-w-xl space-y-4 text-base leading-7 text-gray-600 lg:max-w-none">
                                    <div class="relative pl-9">
                                        <dt class="inline font-semibold text-gray-900">
                                            <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600"
                                                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            Motto and Aim:
                                        </dt>
                                        <dd class="inline">APSRTC is committed to strive towards financial self-reliance
                                            in regard to
                                            performance and growth.</dd>
                                    </div>
                                    <div
                                        class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
                                        <a href="#"
                                            class="w-52 sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
                                            <svg class="me-3 w-7 h-7" aria-hidden="true" focusable="false"
                                                data-prefix="fab" data-icon="apple" role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                                <path fill="currentColor"
                                                    d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z">
                                                </path>
                                            </svg>
                                            <div class="text-left rtl:text-right">
                                                <div class="mb-1 text-xs">Download on the</div>
                                                <div class="-mt-1 font-sans text-sm font-semibold">Mac App Store</div>
                                            </div>
                                        </a>
                                        <a href="#"
                                            class="w-52 sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
                                            <svg class="me-3 w-7 h-7" aria-hidden="true" focusable="false"
                                                data-prefix="fab" data-icon="google-play" role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <path fill="currentColor"
                                                    d="M325.3 234.3L104.6 13l280.8 161.2-60.1 60.1zM47 0C34 6.8 25.3 19.2 25.3 35.3v441.3c0 16.1 8.7 28.5 21.7 35.3l256.6-256L47 0zm425.2 225.6l-58.9-34.1-65.7 64.5 65.7 64.5 60.1-34.1c18-14.3 18-46.5-1.2-60.8zM104.6 499l280.8-161.2-60.1-60.1L104.6 499z">
                                                </path>
                                            </svg>
                                            <div class="text-left rtl:text-right">
                                                <div class="mb-1 text-xs">Get in on</div>
                                                <div class="-mt-1 font-sans text-sm font-semibold">Google Play</div>
                                            </div>
                                        </a>
                                    </div>

                                </dl>
                            </div>
                        </div>
                        <img src="/images/main.jpeg" alt="Product screenshot"
                            class="w-[20rem] rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[25rem] md:w-[25rem] md:-ml-4 lg:-ml-0 mx-auto lg:mx-0"
                            width="2432" height="1442">
                    </div>
                </div>
            </div>
        </main>
    </div>


    <div class="relative px-6 lg:px-5 my-10">
        <main class="md:mx-5 bg-white py-10 shadow-md mx-auto">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto max-w-2xl lg:text-center">
                    <p class="mt-2 text-3xl font-bold tracking-tight text-violet-700 sm:text-3xl">Our Services</p>
                    <p class="mt-6 text-lg leading-8 text-gray-600">Experience the power of our services firsthand.
                        Discover the various services and initiatives offered by APSRTC. From public services to
                        community development, we are committed to serving the needs of our citizens.</p>
                </div>
                <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
                    <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
                        <div class="relative pl-16">
                            <dt class="text-base font-semibold leading-7 text-gray-900">
                                <div
                                    class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                                    <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                        stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
                                    </svg>
                                </div>
                                Adorable Dashboard
                            </dt>
                            <dd class="mt-2 text-base leading-7 text-gray-600">Our user-friendly dashboard provides an
                                intuitive interface designed to streamline your experience.Access key features with
                                ease, stay organized, and make informed decisions—all within the charm of our delightful
                                dashboard.</dd>
                        </div>
                        <div class="relative pl-16">
                            <dt class="text-base font-semibold leading-7 text-gray-900">
                                <div
                                    class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                                    <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                        stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                                    </svg>
                                </div>
                                Emergency Leave Applications
                            </dt>
                            <dd class="mt-2 text-base leading-7 text-gray-600">It
                                ensures a smooth and compassionate process for requesting unplanned leaves. When
                                unexpected situations arise, you can trust our platform to handle your leave requests
                                promptly, allowing you to focus on what's important.</dd>
                        </div>
                        <div class="relative pl-16">
                            <dt class="text-base font-semibold leading-7 text-gray-900">
                                <div
                                    class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                                    <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                        stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                                    </svg>
                                </div>
                                Highly Load Balanced
                            </dt>
                            <dd class="mt-2 text-base leading-7 text-gray-600">Experience unparalleled performance with
                                our Highly Load Balanced system. We prioritize efficiency and reliability, distributing
                                workloads seamlessly to optimize response times. </dd>
                        </div>
                        <div class="relative pl-16">
                            <dt class="text-base font-semibold leading-7 text-gray-900">
                                <div
                                    class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                                    <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                        stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
                                    </svg>
                                </div>
                                Advanced security
                            </dt>
                            <dd class="mt-2 text-base leading-7 text-gray-600">Your security is our top priority. Our
                                Advanced Security measures are designed to safeguard your data and privacy. Trust in a
                                secure environment where your information is protected, allowing you to work with
                                confidence and peace of mind.</dd>
                        </div>
                    </dl>
                </div>
            </div>
        </main>
    </div>


    <div class="relative px-6 lg:px-5 my-5">
        <main class="md:mx-5 bg-white py-5 shadow-md mx-auto">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <h2 class="text-center font-semibold leading-8 text-violet-700 mt-10 md:text-3xl text-2xl">Trusted all over the Andhra
                    Pradesh
                    State</h2>
                <div class="mx-auto max-w-2xl py-8 sm:py-12 lg:max-w-none lg:py-16">
                    <h2 class="text-2xl font-bold tracking-wide text-blue-700">Departments</h2>

                    <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
                        <div class="group relative">
                            <div
                                class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                                <img src="/images/management.webp"
                                    alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug."
                                    class="h-full w-full object-cover object-center">
                            </div>
                            <h3 class="mt-6 text-xl font-bold text-gray-900">
                                <a href="#">
                                    <span class="absolute"></span>
                                    Management Department
                                </a>
                            </h3>
                            <p class="font-medium text-gray-900">Work from home accessories</p>
                        </div>
                        <div class="group relative">
                            <div
                                class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                                <img src="/images/employee.webp"
                                    alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant."
                                    class="h-full w-full object-cover object-center">
                            </div>
                            <h3 class="mt-6 text-xl font-bold text-gray-900">
                                <a href="#">
                                    <span class="absolute"></span>
                                    Employee Department
                                </a>
                            </h3>
                            <p class="font-medium text-gray-900">Work from home accessories</p>
                        </div>
                        <div class="group relative">
                            <div
                                class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                                <img src="/images/medical.avif"
                                    alt="Collection of four insulated travel bottles on wooden shelf."
                                    class="h-full w-full object-cover object-center">
                            </div>
                            <h3 class="mt-6 text-xl font-bold text-gray-900">
                                <a href="#">
                                    <span class="absolute"></span>
                                    Medical Department
                                </a>
                            </h3>
                            <p class="font-medium text-gray-900">Work from home accessories</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <%- include('partials/footer'); -%>